/* 年表示の位置調整 */
.years {
    width: 900px;
    text-align: center
}
/* 日毎の調整 */
th, td {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background: #eee;
}
/* 月毎の調整 */
li {
    height: 280px;
    width: 250px;
}
/* 月毎の配置 */
ul {
    width: 900px;
    list-style-type: none;
}
li {
    margin: 15px;
    float: left;
}
/* 土日祝の色付け */
.redday {
    color: red;
}
.youbi_0 {
    color: red;
}
.youbi_6 {
    color: blue;
}